{% extends "admin.html.twig" %}

{% block title %}
    Puzzle - {{ parent() }}
{% endblock %}

{% block page_title_text %}
    Daily photos
{% endblock %}

{% block body %}
    <div class="bg-light py-2">
        <div class="container">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">
                    Filter
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in daily %}
                <div class="col-lg-3 py-2">
                    <div class="card">
                        <img src="{{ item.unsplashPhoto.urlRegular }}" alt="" class="card-img-top">
                        <div class="card-body">
                            {{ item.dateDaily }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 py-3">
                    <div class="alert alert-info">
                        No items found
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
