{% extends "base.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:type" content="puzzle"/>
    <meta property="og:url" content="{{ path('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}"/>
    <meta property="og:title" content="Puzzle by {{ unsplashPhoto.unsplashUser.name }}"/>
    <meta property="og:image" content="{{ unsplashPhoto | unsplash_photo_block }}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta property="og:description" content="Play a mozaic puzzle"/>
{% endblock %}

{% block title %}
    Puzzle by {{ unsplashPhoto.unsplashUser.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>Mozaic by dimme</h1>

        <div class="row">
            <div class="col-xl-10 col-xs-12">
                <mozaic unsplash-route="{{ path('disjfa_mozaic_api_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" token="{{ csrf_token(unsplashPhoto.id) }}" finish-route="{{ path('disjfa_mozaic_api_puzzle_finish', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}"></mozaic>
                <hr>
                {#<h3>Share</h3>#}
                {#<addthis></addthis>#}
                <br>
            </div>
            <div class="col-xl-2 col-xs-12">
                <h4>
                    Photo by
                    <a href="{{ unsplashPhoto.unsplashUser.portfolioUrl }}">{{ unsplashPhoto.unsplashUser.name }}</a>
                </h4>
                <hr>
                All photos are on <a href="https://unsplash.com/">Unsplash</a>
                <hr>
                <div class="btn-group">
                    <a href="{{ path('disjfa_mozaic_puzzle_photo_like', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="btn{% if myLike and myLike.liked %} btn-info{% else %} btn-outline-info{% endif %}">
                        <i class="fas fa-thumbs-up"></i>
                        {{ unsplashPhoto.likeCount }}
                    </a>
                    <a href="{{ path('disjfa_mozaic_puzzle_photo_unlike', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="btn{% if myLike and myLike.liked == false %} btn-info{% else %} btn-outline-info{% endif %}">
                        <i class="fas fa-thumbs-down"></i>
                        {{ unsplashPhoto.unlikeCount }}
                    </a>
                </div>
                <hr>
                <a href="{{ path('disjfa_mozaic_puzzle_random') }}">
                    <i class="fas fa-random"></i>
                    {{ 'site.button.random_new_photo' | trans | desc('Random new photo') }}
                </a>
                {% if app.user %}
                    <hr>
                    {% if myPhotos | length %}
                        <div class="text-success">
                            <i class="fas fa-check"></i>
                            {{ 'mozaic.title.you_have_finished_this_image' | trans | desc('Finished!') }}
                        </div>
                    {% else %}
                        <div class="text-black-50">
                            <i class="fas fa-minus"></i>
                            {{ 'mozaic.title.you_have_not_finished_this_image' | trans | desc('Not finished') }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
