{% extends "::base.html.twig" %}

{% block title %}
    Puzzle - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Mozaic puzzle</h1>

    <div class="row">
        <div class="col-xl-10 col-xs-12">
            <mozaic unsplash-route="{{ path('disjfa_mozaic_api_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}"></mozaic>
        </div>
        <div class="col-xl-2 col-xs-12">
            <h4>{{ unsplashPhoto.unsplashUser.name }}</h4>
            <a href="{{ unsplashPhoto.unsplashUser.portfolioUrl }}">
                View portfolio
            </a>
            <hr>
            <a href="{{ path('disjfa_mozaic_puzzle_random') }}">Random new photo</a>
        </div>
    </div>
{% endblock %}

